<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SwitchOS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MetroSuite 2.0" publicKeyToken="7b7d08837f2e598f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.2" newVersion="2.0.2.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <SwitchOS.My.MySettings>
      <setting name="MsgBetaShop" serializeAs="String">
        <value />
      </setting>
      <setting name="SUST" serializeAs="String">
        <value />
      </setting>
      <setting name="SET1" serializeAs="String">
        <value />
      </setting>
      <setting name="SET2" serializeAs="String">
        <value />
      </setting>
    </SwitchOS.My.MySettings>
  </userSettings>
</configuration>